# conda install -y -c conda-forge libsndfile
git+https://github.com/facebookresearch/seamless_communication/
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu118
